.app-content {
  position: absolute;
  left: 0;
  top: 0;
  /* height: 100%; */
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  /* justify-content: center; */
  align-items: start;
  padding: 10px;
  gap: 10px;
  /* overflow: auto; */
}

@media screen and (max-width: 1250px) {
  .app-content {
    grid-template-columns: 1fr;
    padding: 0;
    padding-top: 75px;
  }
}
